{% extends 'TplFrontendBundle::page-default.html.twig' %}

{# Redefinir el titulo de la pagina #}
{% block title %}Listado | {{ parent() }}{% endblock title %}

{% block bodyClasses %}{{ parent() }} home{% endblock bodyClasses %}

{% block pageDefaultContent %}
  {{ parent() }} 
  
   {# Incluir en la pagina el template Page Info #}
   {% include 'TplFrontendBundle:Partial:head2.html.twig' %}
    
    <!-- /.search-row -->
    <div class="main-container">
        <div class="container">
            <div class="row">
                <!-- this (.mobile-filter-sidebar) part will be position fixed in mobile version -->
                 
                {# Incluir en la pagina el template Page Info #}
                 {% include 'TplFrontendBundle:Sidebar:sidebar-left.html.twig' %} 
                 
                <!--/.page-side-bar-->
                <div class="col-sm-9 page-content col-thin-left">
                    <div class="category-list">
                        <div class="tab-box ">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs add-tabs" id="ajaxTabs" role="tablist">
                                <li class="active"><a href="ajax/1.html" data-url="ajax/1.html" role="tab"
                                                      data-toggle="tab">Clasificados <span class="badge">228,705</span></a>
                                </li>
                                <li><a href="ajax/2.html" data-url="ajax/2.html" role="tab" data-toggle="tab">Negocio
                                    <span class="badge">22,805</span></a></li>
                                <li><a href="ajax/3.html" data-url="ajax/3.html" role="tab" data-toggle="tab">Personal
                                    <span class="badge">18,705</span></a></li>
                            </ul>


                            {#<div class="tab-filter">
                                <select id="short" name="value" class="selectpicker" data-style="btn-select" data-width="auto">
                                    <option>Ordenar por</option>
                                    <option id="low-high">{{ knp_pagination_sortable(pagination, 'Precio: Bajo a Alto', 'a.price') }}</option>
                                    <option id="high-low">Precio: Alto a Bajo</option>
                                </select>
                            </div>#}
                            <form action="aaa.php" method="get" class="form_sort" id="myForm">
                            <div class="tab-filter">
                                <select id="short" name="value" class="selectpicker" data-style="btn-select" data-width="auto">
                                    <option>Ordenar por</option>
                                    <option id="low-high">Precio: Bajo a Alto</option>
                                    <option id="high-low">Precio: Alto a Bajo</option>
                                </select>
                            </div>
                            </form>
                        </div>
                        <!--/.tab-box-->

                        <div class="listing-filter">
                            <div class="pull-left col-xs-6">
                                <div class="breadcrumb-list"><a href="#" class="current"> <span>Clasificados</span></a> <a href="#selectRegion" id="dropdownMenu1" data-toggle="modal"> <span
                                            class="caret"></span> </a></div>
                            </div>
                            <div class="pull-right col-xs-6 text-right listing-view-action"><span
                                    class="list-view active"><i class="  icon-th"></i></span> <span
                                    class="compact-view"><i class=" icon-th-list  "></i></span> <span
                                    class="grid-view "><i class=" icon-th-large "></i></span></div>
                            <div style="clear:both"></div>
                        </div>
                        <!--/.listing-filter-->


                        <!-- Mobile Filter bar-->
                        <div class="mobile-filter-bar col-lg-12  ">
                            <ul class="list-unstyled list-inline no-margin no-padding">
                                <li class="filter-toggle">
                                    <a class="">
                                        <i class="  icon-th-list"></i>
                                        Filters
                                    </a>
                                </li>
                                <li>


                                    <div class="dropdown">
                                        <a data-toggle="dropdown" class="dropdown-toggle"><i class="caret "></i> Short
                                            by </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="" rel="nofollow">Relevance</a></li>
                                            <li><a href="" rel="nofollow">Date</a></li>
                                            <li><a href="" rel="nofollow">Company</a></li>
                                        </ul>
                                    </div>

                                </li>
                            </ul>
                        </div>
                        <div class="menu-overly-mask"></div>
                        <!-- Mobile Filter bar End-->

                        <div class="adds-wrapper">
                           {% if announces|length > 0 %}
                               {% for announce in pagination %}
                                <div class="item-list">
                                    {% if announce.path == null %}
                                    <div class="col-sm-2 no-padding photobox">
                                        <div class="add-image"><span class="photo-count"><i class="fa fa-camera"></i> 0 </span> 
                                            <a href="{{ path('announce_details', {'id': announce.announceid }) }}">
                                                <img class="thumbnail no-margin" src="{{ asset('bundles/uploads/announces/no_image.jpg') }}" alt="img"></a></div>
                                    </div>
                                    {% else %}
                                    <div class="col-sm-2 no-padding photobox">
                                        <div class="add-image"><span class="photo-count"><i class="fa fa-camera"></i> {{ announce.path|length }}</span> 
                                            <a href="{{ path('announce_details', {'id': announce.announceid }) }}">
                                                <img class="thumbnail no-margin" src="{{ asset('bundles/uploads/announces/') }}{{ announce.path[0] }}" alt="img"></a></div>
                                    </div>
                                    {% endif %}
                                    <!--/.photobox-->
                                    <div class="col-sm-7 add-desc-box">
                                        <div class="add-details">
                                            <h5 class="add-title"><a href="{{ path('announce_details', {'id': announce.announceid }) }}"> {{ announce.title }} </a></h5>
                                            <span class="info-row"> <span class="add-type business-ads tooltipHere"
                                                                          data-toggle="tooltip" data-placement="right"
                                                                          title="Business Ads"> B </span> <span class="date"><i
                                                    class=" icon-clock"> </i> {{ announce.post|date("d/m/Y") }} </span> - <span
                                                    class="category"> {{ announce.subcategory.name }} </span>- <span class="item-location"><i
                                                    class="fa fa-map-marker"></i> {{ announce.city.name }} </span> </span></div>
                                    </div>
                                    <!--/.add-desc-box-->
                                    <div class="col-sm-3 text-right  price-box">
                                        <h2 class="item-price"> {{ announce.price }} </h2>
                                        <a class="btn btn-danger  btn-sm make-favorite"> <i class="fa fa-certificate"></i>
                                            <span>Top Ads</span> </a> <a class="btn btn-default  btn-sm make-favorite"> <i
                                            class="fa fa-heart"></i> <span>Save</span> </a></div>
                                    <!--/.add-desc-box-->
                                </div>
                                {% endfor %}
                                {% else %}
                                    <tr>
                                          <th class="alert alert-info"><strong>No hay clasificado para mostrar en estos momentos.<strong></th>                                          
                                    </tr>
                                {% endif %}  
                                <!--/.item-list-->
                        </div>
                        <!--/.adds-wrapper-->

                        <div class="tab-box  save-search-bar text-center"><a href=""> <i class=" icon-star-empty"></i>
                            Salvar Busqueda </a></div>
                    </div>
                    <div class="pagination-bar text-center">
                        <ul class="pagination">
                            {{ knp_pagination_render(pagination) }}
                        </ul>
                    </div>
                    <!--/.pagination-bar -->

                    <div class="post-promo text-center">
                        <h2> Usted tiene algo para vender ? </h2>
                        <h5>Vende tus productos online en DESCLASIFICADOS.COM. Es más fácil de lo que crees !</h5>
                        <a href="{{ path('announce_post_ads') }}" class="btn btn-lg btn-border btn-post btn-danger">Publica Gratis</a>
                    </div>
                    <!--/.post-promo-->

                </div>
                <!--/.page-content-->

            </div>
        </div>
    </div>
    <!-- /.main-container -->
  
{% endblock pageDefaultContent %}  

{% block javascripts %}
  {{ parent() }}
  
<script>

    {#$(document).ready(function(){
        $('#link_articulos').click(function(){
                $('#articulos').load('');
        });
});
    
  $('.selectpicker').selectpicker({
  style: 'btn-info',
  size: 4
})   
 $(document).ready(function() {  
  $(".selectpicker").selectpicker({
      $('#low-high').load({{ knp_pagination_sortable(pagination, 'Precio: Low to High', 'a.price') }});
  });
});#}
 
</script>


{% endblock javascripts %}
