<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 page-content col-thin-right">
                <div class="inner-box category-content">
                    <h2 class="title-2">Busca Clasificados en Internet
                        {% for flashMessage in app.session.flashbag.get('info') %}
                             <p class="info">{{ flashMessage }}</p>
                        {% endfor %}
                    </h2>
                    <div class="row">  
                            {% for category in categories %}
                        <div class="col-md-4 col-sm-4">                                
                            <div class="cat-list">                                    
                                    <h3 class="cat-title">
                                        <a href=""><i class="{{ category.icon }} ln-shadow">
                                           </i>{{ category.name }} <span class="count">277,959</span>
                                        </a>
                                        <span data-target=".cat-id-1" data-toggle="collapse"
                                              class="btn-cat-collapsed collapsed">   <span
                                                class=" icon-down-open-big"></span> </span>
                                    </h3>
                                    {% if subcategories %}
                                    <ul class="cat-collapse collapse in cat-id-1">
                                        {% for subcategory in subcategories %}
                                           {% if subcategory.category == category.name %}
                                        <li><a href="{{ path('announces_list', {'subcategory': subcategory.slug }) }}">{{ subcategory.name }}</a></li>  
                                           {% endif %}
                                        {% endfor %}
                                    </ul>
                                     {% endif %}                                    
                            </div>                                      
                        </div>           
                            {% endfor %}                     
                    </div>
                </div>
{% block featuredContent %}
   
   {# Incluir en la pagina el template del topbar #}
   {% render(controller('AnnounceBundle:Announce:announceFeatured')) %}

{% endblock featuredContent %}

{% block popularContent %}
   
   {# Incluir en la pagina el template del topbar #}
   {% include 'TplFrontendBundle:Announce:announce-popular.html.twig' %}

{% endblock popularContent %}
                   
                </div>
{% block popularCategoriesContent %}
   
   {# Incluir en la pagina el template del topbar #}
   {% render(controller('AnnounceBundle:Category:categoriesPopular')) %}

{% endblock popularCategoriesContent %}               
            </div>
        </div>
    </div>
    <!-- /.main-container -->
    
    {# Incluir en la pagina el template del topbar #}
    {% include 'TplFrontendBundle:Partial:content.html.twig' %}
    
  