   <div class="main-container">
        <div class="container">
            <ol class="breadcrumb pull-left">
                <li><a href="{{ path('tpl_frontend_homepage') }}"><i class="icon-home fa"></i></a></li>
                <li><a href="#">Clasificados</a></li>
                <li><a href="{{ path('announces_list', {'subcategory': announce.subcategory.slug }) }}">{{ rutaCat }}</a></li>
                <li class="active">{{ announce.subcategory }}</li>
            </ol>
            <div class="pull-right backtolist"><a href="{{ path('announces_list', {'subcategory': announce.subcategory.slug }) }}"> <i
                    class="fa fa-angle-double-left"></i> Volver al Resultado</a></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-9 page-content col-thin-right">
                    <div class="inner inner-box ads-details-wrapper">
                        <h2> {{ announce.title }}
                            <small class="label label-default adlistingtype">DESCLASIFICADOS.COM</small>
                        </h2>
                        <span class="info-row"> <span class="date"><i class=" icon-clock"> </i> {{ announce.post|date("d/m/Y") }} </span> - <span
                                class="category">{{ announce.subcategory }} </span>- <span class="item-location"><i
                                class="fa fa-map-marker"></i> {{ announce.city.name }} </span> </span>

                        <div class="ads-image">
                            <h1 class="pricetag"> ${{ announce.price }}</h1>
                            <ul class="bxslider" data="{{ announce.path|json_encode }}">
                               <li id="ciclo"></li> 
                            </ul>                           
                        </div>
                        <!--ads-image-->

                        <div class="Ads-Details">
                            <h5 class="list-title"><strong>Detalles del Clasificado</strong></h5>

                            <div class="row">
                                <div class="ads-details-info col-md-8">
                                    <p>{{ announce.description }}</p>  
                                </div>
                                <div class="col-md-4">
                                    <aside class="panel panel-body panel-details">
                                        <ul>
                                            <li>
                                                <p class=" no-margin "><strong>Price:</strong> $ {{ announce.price }}</p>
                                            </li>
                                            <li>
                                                <p class="no-margin"><strong>Type:</strong> {{ rutaCat }},{{ announce.subcategory }}</p>
                                            </li>
                                            <li>
                                                <p class="no-margin"><strong>Location:</strong> {{ announce.city.name }} </p>
                                            </li>                                           
                                            
                                            <li>
                                                <p class="no-margin"><strong>Post:</strong> {{ announce.post|date("d/m/Y") }}</p>
                                            </li>
                                        </ul>
                                    </aside>
                                    <div class="ads-action">
                                        <ul class="list-border">
                                            <li><a href="{{ path('user_profile_params', {'u': announce.user.userId }) }}"> <i class=" fa fa-user"></i> More ads by User </a></li>
                                            <li><a href="#"> <i class=" fa fa-heart"></i> Save ad </a></li>
                                            <li><a href="#"> <i class="fa fa-share-alt"></i> Share ad </a></li>
                                            <li><a href="#reportAdvertiser" data-toggle="modal"> <i
                                                    class="fa icon-info-circled-alt"></i> Report abuse </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% if is_granted('ROLE_USER') == false %}                    
                            <div class="content-footer text-left"><a class="btn  btn-default" data-toggle="modal"
                                                                     href="#contactAdvertiser"><i
                                    class=" icon-mail-2"></i> Enviar Mensaje </a> <a class="btn  btn-info"><i
                                    class=" icon-phone-1"></i>{{ announce.user.cel }} </a>
                            </div>
                            {% else %}
                                {% if app.user.email != announce.user.email %}
                                   <div class="content-footer text-left"><a class="btn  btn-default" data-toggle="modal"
                                                                     href="#contactAdvertiser"><i
                                    class=" icon-mail-2"></i> Enviar Mensaje </a> <a class="btn  btn-info"><i
                                    class=" icon-phone-1"></i>{{ announce.user.cel }} </a>
                                    </div>   
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <!--/.ads-details-wrapper-->

                </div>
                <!--/.page-content-->

                <div class="col-sm-3  page-sidebar-right">
                    <aside>
                        <div class="panel sidebar-panel panel-contact-seller">
                            <div class="panel-heading">Contact Seller</div>
                            <div class="panel-content user-info">
                                <div class="panel-body text-center">
                                    <div class="seller-info">
                                        <h3 class="no-margin">{{ announce.user.name }} {{ announce.user.lastname }}</h3>

                                        <p>Location: <strong>
                                            {% if announce.user.addresses is empty %}    
                                              Actualice su perfil 
                                            {% else %}
                                              {{ announce.user.addresses[0].locality }}
                                            {% endif %}
                                        </strong></p>

                                        <p> Joined: <strong>12 Mar 2009</strong></p>
                                        
                                        <p> Email: <strong>{{ announce.user.email }}</strong></p>
                                        
                                        <p> Phone Number: <strong>{{ announce.user.cel }}</strong></p>
                                    </div>
                                    {% if is_granted('ROLE_USER') == false %}
                                        <div class="user-ads-action"><a href="#contactAdvertiser" data-toggle="modal"
                                                                        class="btn   btn-default btn-block"><i
                                                class=" icon-mail-2"></i> Enviar mensaje </a> <a
                                                class="btn  btn-info btn-block"><i class=" icon-phone-1"></i> {{ announce.user.cel }}</a>
                                        </div>
                                    {% else %}
                                        {% if app.user.email != announce.user.email %}
                                        <div class="user-ads-action"><a href="#contactAdvertiser" data-toggle="modal"
                                                                        class="btn   btn-default btn-block"><i
                                                class=" icon-mail-2"></i> Enviar mensaje </a> <a
                                                class="btn  btn-info btn-block"><i class=" icon-phone-1"></i> {{ announce.user.cel }}</a>
                                        </div>
                                        {% endif %}
                                    {% endif %}    
                                </div>
                            </div>
                        </div>
                        <div class="panel sidebar-panel">
                            <div class="panel-heading">Safety Tips for Buyers</div>
                            <div class="panel-content">
                                <div class="panel-body text-left">
                                    <ul class="list-check">
                                        <li> Meet seller at a public place</li>
                                        <li> Check the item before you buy</li>
                                        <li> Pay only after collecting the item</li>
                                    </ul>
                                    <p><a class="pull-right" href="#"> Know more <i
                                            class="fa fa-angle-double-right"></i> </a></p>
                                </div>
                            </div>
                        </div>
                        <!--/.categories-list-->
                    </aside>
                </div>
                <!--/.page-side-bar-->
            </div>
        </div>
    </div>
    <!-- /.main-container -->