{% extends 'TplFrontendBundle::page-default.html.twig' %}

{# Redefinir el titulo de la pagina #}
{% block title %}Entrar | {{ parent() }}{% endblock title %}

{% block bodyClasses %}{{ parent() }} home{% endblock bodyClasses %}

{% block pageDefaultContent %}
  {{ parent() }}
  
 <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 login-box">
                    <div class="panel panel-default">
                        <div class="panel-intro text-center">
                            <h2 class="logo-title">
                                <!-- Original Logo will be placed here  -->
                                <span class="logo-icon">
                                    <i class="icon icon-search-1 ln-shadow-logo shape-0"></i> </span> DESCLASIFICADOS<span>.COM</span>
                            </h2>
                        </div>
                        <div class="panel-body">
                            {% for flashMessage in app.session.flashbag.get('info') %}
                              <p class="alert alert-info">{{ flashMessage }}</p>
                            {% endfor %}
                            <form role="form" action="{{ path('user_login') }}" method="post">
                                <div class="form-group">
                                    <label for="sender-email" class="control-label">Email:</label>

                                    <div class="input-icon"><i class="icon-user fa"></i>
                                        <input id="sender-email" type="text" placeholder="Email"
                                               class="form-control email" name="_username">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="user-pass" class="control-label">Password:</label>

                                    <div class="input-icon"><i class="icon-lock fa"></i>
                                        <input type="password" class="form-control" placeholder="Password"
                                               id="user-pass" name="_password">
                                        <input type="hidden" name="_target_path" value="/account"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    
                                    <input name="Button" type="submit" class="btn btn-primary btn-block" value="Entrar" />
                                </div>
                            </form>
                        </div>
                        <div class="panel-footer">

                            <div class="checkbox pull-left">
                                <label> <input type="checkbox" value="1" name="remember" id="remember"> Mantenerme logueado</label>
                            </div>


                            <p class="text-center pull-right"><a href=""> Olvidaste tu password? </a>
                            </p>

                            <div style=" clear:both"></div>
                        </div>
                    </div>
                    <div class="login-box-btm text-center">
                        <p> No tienes cuenta ? <br>
                            <a href="{{ path('user_sigup') }}"><strong>Registrate !</strong> </a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.main-container -->    
    
    {# Incluir en la pagina el template Page Info #}
    {% include 'TplFrontendBundle:Partial:pageinfo.html.twig' %}
  
{% endblock pageDefaultContent %}  