{% extends 'TplFrontendBundle::page-default.html.twig' %}

{# Redefinir el titulo de la pagina #}
{% block title %}Perfil | {{ parent() }}{% endblock title %}

{% block bodyClasses %}{{ parent() }} home{% endblock bodyClasses %}

{% block pageDefaultContent %}
  {{ parent() }} 

    <div class="main-container inner-page">
        <div class="container">
            <div class="section-content">
                <div class="inner-box ">
                    <div class="row">
                        <div class="col-sm-6">
                            {% if app.user == user %}
                            <div class="seller-info seller-profile">
                                <div class="seller-profile-img">
                                    {% if user.avatar == null %}
                                       <a><img src="{{ asset('assets/images/user.jpg') }}" class="img-responsive thumbnail" alt="img"> </a>
                                    {% else %}
                                       <a><img src='{{ asset('bundles/uploads/users/') }}{{ user.avatar }}' class="img-responsive thumbnail" alt="img"> </a> 
                                    {% endif %}                                     
                                </div>
                                <h3 class="no-margin no-padding link-color uppercase "> {{ user.name }} {{ user.lastname }} </h3>

                                <div class="text-muted">
                                    99.8% positive Feedback
                                </div>
                                {% if app.user.email != user.email %} 
                                <div class="user-ads-action">
                                    <a class="btn btn-sm   btn-default " data-toggle="modal"
                                       href="#contactAdvertiser"><i class=" icon-mail-2"></i> Enviar un mensaje</a>
                                    <a class="btn btn-sm  btn-success "><i class=" icon-plus"></i> Seguir </a>
                                </div>
                                {% endif %}

                                <div class="seller-social-list">

                                    <ul class="share-this-post">


                                        <li><a class="google-plus"><i class="fa fa-google-plus"></i></a>
                                        </li>
                                        <li><a class="facebook"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li><a class="pinterest"><i class="fa fa-pinterest"></i></a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                                {% else %}
                            <div class="seller-info seller-profile">
                                <div class="seller-profile-img">
                                    {% if user.avatar == null %}
                                       <a><img src="{{ asset('assets/images/user.jpg') }}" class="img-responsive thumbnail" alt="img"> </a>
                                    {% else %}
                                       <a><img src="{{ asset('bundles/uploads/users/') }}{{ user.avatar }}" class="img-responsive thumbnail" alt="img"> </a> 
                                    {% endif %} 
                                </div>
                                <h3 class="no-margin no-padding link-color uppercase "> {{ user.name }} {{ user.lastname }} </h3>

                                <div class="text-muted">
                                    99.8% positive Feedback
                                </div>
                                <div class="user-ads-action">
                                    <a class="btn btn-sm   btn-default " data-toggle="modal"
                                       href="#contactAdvertiser"><i class=" icon-mail-2"></i> Enviar un  mensaje </a>
                                    <a class="btn btn-sm  btn-success "><i class=" icon-plus"></i> Seguir </a>
                                </div>

                                <div class="seller-social-list">

                                    <ul class="share-this-post">


                                        <li><a class="google-plus"><i class="fa fa-google-plus"></i></a>
                                        </li>
                                        <li><a class="facebook"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li><a class="pinterest"><i class="fa fa-pinterest"></i></a>
                                        </li>

                                    </ul>
                                </div>
                            </div>        
                           {% endif %} 

                        </div>
                        <div class="col-sm-6">

                            <div class="seller-contact-info">

                                <h3 class="no-margin uppercase color-danger"> Información Contacto </h3>

                                <dl class="dl-horizontal">
                                    {% if user.addresses is empty %}
                                    <dt>Localidad:</dt>                                    
                                    <dd class="contact-sensitive"> No definida
                                    </dd>
                                    <dt>Dirección:</dt>
                                    <dd class="contact-sensitive"> No definida
                                    </dd>
                                    {% else %}
                                     <dt>Localidad:</dt>                                    
                                    <dd class="contact-sensitive"> {{ user.addresses[0].locality }}
                                    </dd>
                                    <dt>Dirección:</dt>
                                    <dd class="contact-sensitive"> {{ user.addresses[0].address }}
                                    </dd>   
                                    {% endif %}
                                    <dt>Teléfono:</dt>
                                    <dd class="contact-sensitive"> {{ user.cel }}</dd>                                    
                                </dl>


                            </div>

                        </div>
                    </div>

                </div>

                <div class="section-block">
                    <div class="row">
                        <div class="col-sm-9 col-thin-left page-content ">

                            <div class="category-list">
                                <div class="tab-box ">

                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs add-tabs" role="tablist">
                                        <li class="active"><a href="#allAds" role="tab" data-toggle="tab"> Clasificados de {{ user.name }} {{ user.lastname}} 
                                            <span class="badge">20</span></a></li>

                                    </ul>
                                    <div class="tab-filter">
                                <select id="short" name="value" class="selectpicker" data-style="btn-select" data-width="auto">
                                    <option>Ordenar por</option>
                                    <option id="low-high">Precio: Bajo a Alto</option>
                                    <option id="high-low">Precio: Alto a Bajo</option>
                                </select>
                            </div>
                        </div>
                        <!--/.tab-box-->

                                <div class="listing-filter">
                                    <div class="pull-left col-xs-6">
                                        <div class="breadcrumb-list"><a href="#" class="current">
                                            <span>Clasificados</span></a><a href="#selectRegion"
                                                                                    id="dropdownMenu1"
                                                                                    data-toggle="modal"> <span
                                                class="caret"></span> </a></div>
                                    </div>
                                    <div class="pull-right col-xs-6 text-right listing-view-action"><span
                                            class="list-view active"><i class="  icon-th"></i></span> <span
                                            class="compact-view"><i class=" icon-th-list  "></i></span> <span
                                            class="grid-view "><i class=" icon-th-large "></i></span></div>
                                    <div style="clear:both"></div>
                                    {% for flashMessage in app.session.flashbag.get('info') %}
                                        <p class="alert alert-info">{{ flashMessage }}</p>
                                    {% endfor %}
                                </div>
                                <!--/.listing-filter-->


                                <div class="adds-wrapper">
                           {% if announces|length > 0 %}
                               {% for announce in pagination %}
                                <div class="item-list">
                                    {% if announce.path == null %}
                                    <div class="col-sm-2 no-padding photobox">
                                        <div class="add-image"><span class="photo-count"><i class="fa fa-camera"></i> 0 </span> 
                                            <a href="{{ path('announce_details', {'id': announce.announceid }) }}">
                                                <img class="thumbnail no-margin" src="{{ asset('bundles/uploads/announces/no_image.jpg') }}" alt="img"></a></div>
                                    </div>
                                    {% else %}
                                    <div class="col-sm-2 no-padding photobox">
                                        <div class="add-image"><span class="photo-count"><i class="fa fa-camera"></i> {{ announce.path|length }}</span> 
                                            <a href="{{ path('announce_details', {'id': announce.announceid }) }}">
                                                <img class="thumbnail no-margin" src="{{ asset('bundles/uploads/announces/') }}{{ announce.path[0] }}" alt="img"></a></div>
                                    </div>
                                    {% endif %}
                                    <!--/.photobox-->
                                    <!--/.photobox-->
                                    <div class="col-sm-7 add-desc-box">
                                        <div class="add-details">
                                            <h5 class="add-title"><a href="{{ path('announce_details', {'id': announce.announceid }) }}"> {{ announce.title }} </a></h5>
                                            <span class="info-row"> <span class="add-type business-ads tooltipHere"
                                                                          data-toggle="tooltip" data-placement="right"
                                                                          title="Business Ads"> B </span> <span class="date"><i
                                                    class=" icon-clock"> </i> {{ announce.post|date("d/m/Y") }} </span> - <span
                                                    class="category"> {{ announce.subcategory.name }} </span>- <span class="item-location"><i
                                                    class="fa fa-map-marker"></i> {{ announce.locality.name }} </span> </span></div>
                                    </div>
                                    <!--/.add-desc-box-->
                                    <div class="col-sm-3 text-right  price-box">
                                        <h2 class="item-price"> {{ announce.price }} </h2>
                                        <a class="btn btn-danger  btn-sm make-favorite"> <i class="fa fa-certificate"></i>
                                            <span>Top Ads</span> </a> <a class="btn btn-default  btn-sm make-favorite"> <i
                                            class="fa fa-heart"></i> <span>Save</span> </a></div>
                                    <!--/.add-desc-box-->
                                </div>
                                {% endfor %}
                                {% else %}
                                    <tr>
                                                                                   <th class="alert alert-info"><strong>No hay clasificado para mostrar en estos momentos.<strong></th>                                          

                                    </tr>
                                {% endif %}  
                                <!--/.item-list-->
                        </div>
                        <!--/.adds-wrapper-->

                                <div class="tab-box  save-search-bar text-center"><a href="{{ path('user_follow', {'id': user.userId})}}"> <i class=" icon-plus"></i>
                                    Seguir a {{ user.name }} </a></div>
                            </div>
                            <div class="pagination-bar text-center">
                                <ul class="pagination">
                                    {{ knp_pagination_render(pagination) }}
                                </ul>
                            </div>
                            <!--/.pagination-bar -->

                            <div class="post-promo text-center">
                        <h2> Usted tiene algo para vender ? </h2>
                        <h5>Vende tus productos online en DESCLASIFICADOS.COM. Es más fácil de lo que crees !</h5>
                        <a href="{{ path('announce_post_ads') }}" class="btn btn-lg btn-border btn-post btn-danger">Publica Gratis</a>
                    </div>
                    <!--/.post-promo-->

                        </div>
                    
                    <div class="col-sm-3  page-sidebar-right">
                            <aside>
                                <div class="panel sidebar-panel panel-contact-seller">
                                    {% if following is null  %}                                  
                                        <div class="panel-heading">Siguiendo <span class="badge"></span>
                                        </div>
                                        <div class="panel-content user-info">
                                            <div class="panel-body text-center">
                                                <span>Usted no sigue a ningun usuario.</span>
                                            </div>
                                        </div>                                        
                                    {% else %} 
                                        <div class="panel-heading">Siguiendo <span class="badge">{{ following|length }}</span>
                                        </div>
                                        <div class="panel-content user-info">
                                            <div class="panel-body text-center">
                                                <ul class="list-unstyled list-user-list long-list-user">
                                                   {% for myfollow in following %}
                                                       {% if myfollow.avatar == null %}
                                                         <li><a><img alt="{{ myfollow.name }}" src="{{ asset('assets/images/user.jpg') }}" class="img-circle"></a></li>
                                                       {% else %}
                                                         <li><a><img alt="{{ myfollow.name }}" src="{{ asset('bundles/uploads/users/') }}{{ myfollow.avatar }}" class="img-circle"></a></li> 
                                                       {% endif %}   
                                                   {% endfor %}
                                                </ul>
                                            </div>
                                        </div>                                        
                                    {% endif %}            
                                </div>                              
                            </aside>
                        </div>
                                                <div class="col-sm-3  page-sidebar-right">
                            <aside>                                
                                <div class="panel sidebar-panel panel-contact-seller">
                                    <div class="panel-heading">Seguidores <span class="badge">{{ followers|length }}</span>
                                    </div>
                                    <div class="panel-content user-info">
                                        <div class="panel-body text-center">
                                            <ul class="list-unstyled list-user-list long-list-user">
                                               {% for myfollow in followers %}
                                                   {% if myfollow.avatar == null %}
                                                     <li><a><img alt="{{ myfollow.name }}" src="{{ asset('assets/images/user.jpg') }}" class="img-circle"></a></li>
                                                   {% else %}
                                                     <li><a><img alt="{{ myfollow.name }}" src="{{ asset('bundles/uploads/users/') }}{{ myfollow.avatar }}" class="img-circle"></a></li> 
                                                   {% endif %}   
                                               {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel sidebar-panel">
                                    <div class="panel-heading">Safety Tips for Buyers</div>
                                    <div class="panel-content">
                                        <div class="panel-body text-left">
                                            <ul class="list-check">
                                                <li> Meet seller at a public place</li>
                                                <li> Check the item before you buy</li>
                                                <li> Pay only after collecting the item</li>
                                            </ul>
                                            <p><a class="pull-right" href="#"> Know more <i
                                                    class="fa fa-angle-double-right"></i> </a></p>
                                        </div>
                                    </div>
                                </div>
                                <!--/.categories-list-->
                            </aside>
                        </div>
                        <!--/.page-side-bar-->        
                        <!--/.page-side-bar-->
                    
                    {# Incluir en la pagina el template del topbar #}
                    {# include 'TplFrontendBundle:Sidebar:sidebar-right-following.html.twig' #}

                        
                         {# Incluir en la pagina el template del topbar #}
                        {# render(controller('UserBundle:Default:myFollowing')) #}
                        
                        {# Incluir en la pagina el template del topbar #}
                        {# render(controller('UserBundle:Default:myFollowers')) #}
                        <!--/.page-side-bar-->

                    </div>
                </div>


            </div>

        </div>
    </div>


   

  
{% endblock pageDefaultContent %}  