{% extends 'TplFrontendBundle::page-default.html.twig' %}

{# Redefinir el titulo de la pagina #}
{% block title %}Perfil | {{ parent() }}{% endblock title %}

{% block bodyClasses %}{{ parent() }} home{% endblock bodyClasses %}

{% block pageDefaultContent %}
  {{ parent() }} 
  
  <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 page-sidebar">
                    <aside>
                       
                    {# Incluir en la pagina el template del topbar #}
                    {% include 'TplFrontendBundle:UserAnnounce:user-lateral-menu.html.twig' %}

                    </aside>
                </div>
                <!--/.page-sidebar-->

                <div class="col-sm-9 page-content">
                    <div class="inner-box">
                        <div class="row">
                            <div class="col-md-5 col-xs-4 col-xxs-12">
                                <h3 class="no-padding text-center-480 useradmin"><a href="">
                                        {% if app.user.avatar == null %}
                                          <img class="userImg" src="{{ asset('assets/images/user.jpg') }}" alt="user"> {{ app.user.name }} {{ app.user.lastname }}
                                        {% else %}
                                          <img class="userImg" src="{{ asset('bundles/uploads/users/') }}{{ app.user.avatar }}" alt="user"> {{ app.user.name }} {{ app.user.lastname }}
                                        {% endif %}
                                </a></h3>
                            </div>
                            <div class="col-md-7 col-xs-8 col-xxs-12">
                                <div class="header-data text-center-xs">

                                    <!-- Traffic data -->
                                    <div class="hdata">
                                        <div class="mcol-left">
                                            <!-- Icon with red background -->
                                            <i class="fa fa-eye ln-shadow"></i></div>
                                        <div class="mcol-right">
                                            <!-- Number of visitors -->
                                            <p><a href="#">7000</a> <em>visits</em></p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <!-- revenue data -->
                                    <div class="hdata">
                                        <div class="mcol-left">
                                            <!-- Icon with green background -->
                                            <i class="icon-th-thumb ln-shadow"></i></div>
                                        <div class="mcol-right">
                                            <!-- Number of visitors -->
                                            <p><a href="#">12</a><em>Ads</em></p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <!-- revenue data -->
                                    <div class="hdata">
                                        <div class="mcol-left">
                                            <!-- Icon with blue background -->
                                            <i class="fa fa-user ln-shadow"></i></div>
                                        <div class="mcol-right">
                                            <!-- Number of visitors -->
                                            <p><a href="#">18</a> <em>Favorites </em></p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="inner-box">
                        <div class="welcome-msg">
                            <h3 class="page-sub-header2 clearfix no-padding">Hola {{ app.user.name }} {{ app.user.lastname }} </h3>
                            <span class="page-sub-header-sub small">{#You last logged in at: 01-01-2014 12:40 AM [UK time (GMT + 6:00hrs)]#} Bienvenida nuevamente a DESCLASIFICADOS.COM</span>
                            {% for flashMessage in app.session.flashbag.get('info') %}
                              <p class="alert alert-info">{{ flashMessage }}</p>
                            {% endfor %}
                        </div>
                        <div id="accordion" class="panel-group">
                            
   {# Incluir en la pagina el template del topbar #}
   {% render(controller('UserBundle:Crud:userEditDetails')) %}                            
                            
   {# Incluir en la pagina el template del topbar #}
   {% render(controller('AddressBundle:Location:newLocation')) %}
  
   {# render(controller('UserBundle:Crud:userEditAddress')) #} 
   {# include 'TplFrontendBundle:Address:new-address.html.twig' #}
   
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#collapseB3" data-toggle="collapse"> Ajustes </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="collapseB3">
                                    <div class="panel-body">
                                        <form action="{{ path('user_profile_edit_pass') }}" method="POST" class="form-horizontal" role="form">                                            
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Nuevo Password</label>

                                                <div class="col-sm-9">
                                                    <input type="password" class="form-control" placeholder="" name="pass">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Confirmar Password</label>

                                                <div class="col-sm-9">
                                                    <input type="password" class="form-control" placeholder="" name="confirm">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-offset-3 col-sm-9">
                                                    <button type="submit" class="btn btn-default">Actualizar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>                               
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#collapseB4" data-toggle="collapse">
                                        Preferencias </a></h4>
                                </div>
                                <div class="panel-collapse collapse" id="collapseB4">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox">
                                                        Quiero recibir nuevos anuncios. </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox">
                                                        Quiero recibir avisos de compradores y vendedores. </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/.row-box End-->

                    </div>
                </div>
                <!--/.page-content-->
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!-- /.main-container -->  
 
{% endblock pageDefaultContent %}  

{% block javascripts %}
    {{ parent() }}   

    <script>
        
        $(document).ready(function(){
            $("#ads_location_country").change(function(){
                var data = {
                    country_id: $(this).val()
                };
                //var getProvinceUrl = Routing.generate('select_provinces');
                //alert($(this).val());
                $.ajax({
                    type: 'post',
                    url: '{{ path("select_provinces") }}',
                    data: data,
                    success: function(data) {
                        var $province_selector = $('#ads_location_province');
                        $province_selector.html('<option>Provinciaa</option>');
                        for (var i=0, total = data.length; i < total; i++) {
                            $province_selector.append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                        }
                        $('#ads_location_city').html("<option>Ciudada</option>");
                    }       
                });
            });
            $("#ads_location_province").change(function(){
                var data = {
                    province_id: $(this).val()
                };
                $.ajax({
                    type: 'post',
                    url: '{{ path("select_cities") }}',
                    data: data,
                    success: function(data) {
                        var $city_selector = $('#ads_location_city');
                        $city_selector.html('<option>Ciudad</option>');
                        for (var i=0, total = data.length; i < total; i++) {
                            $city_selector.append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                        }
                    }
                });
            });
        });
        
    </script>
    
{% endblock %}

