<div class="footer" id="footer">
        <div class="container">
            <ul class=" pull-left navbar-link footer-nav">
                <li>
                    <a href="{{ path('tpl_frontend_homepage') }}"> Inicio </a>
                    <a href="{{ path('tpl_frontend_estatic', {'page': 'about-us'}) }}"> Acerca de Nosotros </a> 
                    <a href="{{ path('tpl_frontend_estatic', {'page': 'terms-condition'}) }}"> Terminos y Condiciones </a>
                    <a href="{{ path('tpl_frontend_estatic', {'page': 'privacy-policy'}) }}"> Políticas de Privacidad </a> 
                    <a href="{{ path('tpl_frontend_estatic', {'page': 'contact-us'}) }}"> Contactenos </a>
                    <a href="{{ path('tpl_frontend_estatic', {'page': 'faq'}) }}"> FAQ </a>
            </ul>
            <ul class=" pull-right navbar-link footer-nav">
                <li><a href="{{ path('tpl_frontend_homepage') }}"> &copy; 2016 DESCLASIFICADOS.COM</a></li>
            </ul>
        </div>

    </div>
    <!-- /.footer -->
