<div class="footer" id="footer">
        <div class="container">
            <ul class=" pull-left navbar-link footer-nav">
                <li>
                    <a href="{{ path('tpl_frontend_homepage') }}"> Home </a>
                    <a href="{{ path('tpl_frontend_estatic', {'page': 'about-us'}) }}"> About us </a> 
                    <a href="{{ path('tpl_frontend_estatic', {'page': 'terms-condition'}) }}"> Terms and Conditions </a>
                    <a href="{{ path('tpl_frontend_estatic', {'page': 'privacy-policy'}) }}"> Privacy Policy </a> 
                    <a href="{{ path('tpl_frontend_estatic', {'page': 'contact-us'}) }}"> Contact us </a>
                    <a href="{{ path('tpl_frontend_estatic', {'page': 'faq'}) }}"> FAQ </a>
            </ul>
            <ul class=" pull-right navbar-link footer-nav">
                <li> &copy; 2015 BootClassified</li>
            </ul>
        </div>

    </div>
    <!-- /.footer -->
