<!-- Modal contactAdvertiser -->
{% if is_granted('ROLE_USER') %}
<div class="modal fade" id="contactAdvertiser" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title"><i class=" icon-mail-2"></i> Datos de tu Contacto </h4>
            </div>
            <form role="form" action="{{ path('announce_contact_advertiser_login', {'id': announce.announceId}) }}" method="POST">
            <div class="modal-body">                
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Nombre:</label>
                        <input class="form-control required" id="recipient-name" value="{{ app.user.name}} {{ app.user.lastname}}"
                               data-placement="top" data-trigger="manual"
                               data-content="Must be at least 3 characters long, and must only contain letters."
                               type="text" name="name">
                    </div>
                    <div class="form-group">
                        <label for="sender-email" class="control-label">E-mail:</label>
                        <input id="sender-email" type="text"
                               data-content="Must be a valid e-mail address (user@gmail.com)" data-trigger="manual"
                               data-placement="top" value="{{ app.user.email }}" class="form-control email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="recipient-Phone-Number" class="control-label">Teléfono:</label>
                        <input type="text" maxlength="60" class="form-control" id="recipient-Phone-Number" value="{{ app.user.cel }}" name="tele">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Mensaje <span class="text-count">(300) </span>:</label>
                        <textarea class="form-control" id="message-text" placeholder="Tu mensaje aqui.."
                                  data-placement="top" data-trigger="manual" name="message"></textarea>
                    </div>
                    <div class="form-group">
                        <p class="help-block pull-left text-danger hide" id="form-error">&nbsp; The form is not
                            valid. </p>
                    </div>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success pull-right">Enviar Mensaje!</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% else %}
 <div class="modal fade" id="contactAdvertiser" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title"><i class=" icon-mail-2"></i> Datos de tu Contacto </h4>
            </div>
            <form role="form" action="{{ path('announce_contact_advertiser_no_login', {'id': announce.announceId}) }}" method="POST">
            <div class="modal-body">                
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Nombre:</label>
                        <input class="form-control required" id="recipient-name" placeholder="Tu nombre"
                               data-placement="top" data-trigger="manual"
                               data-content="Must be at least 3 characters long, and must only contain letters."
                               type="text" name="name">
                    </div>
                    <div class="form-group">
                        <label for="sender-email" class="control-label">E-mail:</label>
                        <input id="sender-email" type="text"
                               data-content="Must be a valid e-mail address (user@gmail.com)" data-trigger="manual"
                               data-placement="top" placeholder="Tu email" class="form-control email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="recipient-Phone-Number" class="control-label">Teléfono:</label>
                        <input type="text" maxlength="10" class="form-control" id="recipient-Phone-Number" placeholder="Tu teléfono" name="tele">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Mensaje <span class="text-count">(300) </span>:</label>
                        <textarea class="form-control" id="message-text" placeholder="Tu mensaje aqui.."
                                  data-placement="top" data-trigger="manual" name="message"></textarea>
                    </div>
                    <div class="form-group">
                        <p class="help-block pull-left text-danger hide" id="form-error">&nbsp; The form is not
                            valid. </p>
                    </div>               
            </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success pull-right">Enviar Mensaje!</button>
            </div>
            </form>
        </div>
    </div>
</div>   
{% endif %}    

<!-- /.modal -->