<div id="wrapper"> 
    
   <div class="header">
        <nav class="navbar   navbar-site navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    
                    <span class="logo-icon"><i class="icon icon-search-1 ln-shadow-logo shape-0"></i> </span>
                        DESCLASIFICADOS<span>.COM</span></div>
                <div class="navbar-collapse collapse">                
                
                      <ul class="nav navbar-nav navbar-right">
                        
                    </ul>                  
                    
                </div>
                <!--/.nav-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
    <!-- /.header -->

 <div class="main-container">
    <div class="container">     
            
                
                   
                    <div class="row">
                        <div class="col-sm-6">
                            
                            <div class="seller-info seller-profile">
                                <div class="seller-profile-img">
                                    {% if announce.user.avatar == null %}
                                       <a><img src="{{ asset('assets/images/user.jpg') }}" class="img-responsive thumbnail" alt="img"> </a>
                                    {% else %}
                                       <a><img src='{{ asset('bundles/uploads/users/') }}{{ announce.user.avatar }}' class="img-responsive thumbnail" alt="img"> </a> 
                                    {% endif %}                                     
                                </div>
                                <h3 class="no-margin no-padding link-color uppercase "> {{ announce.user.name }} {{ announce.user.lastname }} </h3>

                                <div class="text-muted">
                                    99.8% positive Feedback
                                </div>                                

                                <div class="seller-social-list">

                                    <ul class="share-this-post">


                                        <li><a class="google-plus"><i class="fa fa-google-plus"></i></a>
                                        </li>
                                        <li><a class="facebook"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li><a class="pinterest"><i class="fa fa-pinterest"></i></a>
                                        </li>

                                    </ul>
                                </div>
                            </div>                                

                        </div>
                        <div class="col-sm-6">

                            <div class="seller-contact-info">

                                <h3 class="no-margin uppercase color-danger"> Información Contacto </h3>

                                <dl class="dl-horizontal">
                                    {% if announce.user.addresses is empty %}
                                    <dt>Localidad:</dt>                                    
                                    <dd class="contact-sensitive"> No definida
                                    </dd>
                                    <dt>Dirección:</dt>
                                    <dd class="contact-sensitive"> No definida
                                    </dd>
                                    {% else %}
                                     <dt>Localidad:</dt>                                    
                                    <dd class="contact-sensitive"> {{ announce.user.addresses[0].locality }}
                                    </dd>
                                    <dt>Dirección:</dt>
                                    <dd class="contact-sensitive"> {{ announce.user.addresses[0].address }}
                                    </dd>   
                                    {% endif %}
                                    <dt>Teléfono:</dt>
                                    <dd class="contact-sensitive"> {{ announce.user.cel }}</dd>                                    
                                </dl>

                            </div>

                        </div>
                    </div>           
    </div>
                                
    <div class="container">
        <div class="row">
                <div class="col-sm-9 page-content col-thin-right">
                    <div class="inner inner-box ads-details-wrapper">
                        <h2> {{ announce.title }}
                            <small class="label label-default adlistingtype">DESCLASIFICADOS.COM</small>
                        </h2>
                        <span class="info-row"> <span class="date"><i class=" icon-clock"> </i> {{ announce.post|date("d/m/Y") }} </span> - <span
                                class="category">{{ announce.subcategory }} </span>- <span class="item-location"><i
                                class="fa fa-map-marker"></i> {{ announce.locality.name }} </span> </span>

                        <div class="ads-image">
                            <h1 class="pricetag"> ${{ announce.price }}</h1>
                            <ul class="bxslider">
                            {% if announce.path == null %}                            
                                <li><img src="{{ asset('bundles/uploads/announces/no_image.jpg') }}" alt="img"/></li>                           
                            {% else %}
                               <li><img src="{{ asset('bundles/uploads/announces/') }}{{ announce.path[0] }}" alt="img"/></li>  
                            {% endif%} 
                            </ul> 
                        </div>
                        <!--ads-image-->

                        <div class="Ads-Details">
                            <h5 class="list-title"><strong>Detalles del Clasificado</strong></h5>

                            <div class="row">
                                <div class="ads-details-info col-md-8">
                                    <p>{{ announce.description }}</p>  
                                </div>
                                <div class="col-md-4">
                                    <aside class="panel panel-body panel-details">
                                        <ul>
                                            <li>
                                                <p class=" no-margin "><strong>Price:</strong> $ {{ announce.price }}</p>
                                            </li>
                                            <li>
                                                <p class="no-margin"><strong>Type:</strong> {{ announce.subcategory.category }},{{ announce.subcategory }}</p>
                                            </li>
                                            <li>
                                                <p class="no-margin"><strong>Location:</strong> {{ announce.locality.name }} </p>
                                            </li>                                           
                                            
                                            <li>
                                                <p class="no-margin"><strong>Post:</strong> {{ announce.post|date("d/m/Y") }}</p>
                                            </li>
                                        </ul>
                                    </aside>                                    
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <!--/.ads-details-wrapper-->

                </div>
                <!--/.page-content-->                
            </div>
        </div>                            
                                
        <div class="container">
        <div class="Ads-Details">
                            <h5 class="list-title"><strong>Mensaje de {{ user[0].name }}</strong> Tele {{ user[0].tele }}</h5>
            <div class="row">                                
                <div class="ads-details-info col-md-8">
                    <p>{{ user[0].message }}</p>  
                </div>
            </div>                            
        </div>
                  
    </div>                           
                                
    </div> 

 </div>