                        <div class="col-sm-3  page-sidebar-right">
                            <aside>
                                <div class="panel sidebar-panel panel-contact-seller">
                                    {% if following is null  %}                                  
                                        <div class="panel-heading">Siguiendo <span class="badge"></span>
                                        </div>
                                        <div class="panel-content user-info">
                                            <div class="panel-body text-center">
                                                <span>Usted no sigue a ningun usuario.</span>
                                            </div>
                                        </div>                                        
                                    {% else %} 
                                        <div class="panel-heading">Siguiendo <span class="badge">{{ following|length }}</span>
                                        </div>
                                        <div class="panel-content user-info">
                                            <div class="panel-body text-center">
                                                <ul class="list-unstyled list-user-list long-list-user">
                                                   {% for myfollow in following %}
                                                       {% if myfollow.avatar == null %}
                                                         <li><a><img alt="{{ myfollow.name }}" src="{{ asset('assets/images/user.jpg') }}" class="img-circle"></a></li>
                                                       {% else %}
                                                         <li><a><img alt="{{ myfollow.name }}" src="{{ asset('bundles/uploads/users/') }}{{ myfollow.avatar }}" class="img-circle"></a></li> 
                                                       {% endif %}   
                                                   {% endfor %}
                                                </ul>
                                            </div>
                                        </div>                                        
                                    {% endif %}            
                                </div>                              
                            </aside>
                        </div>
                        <!--/.page-side-bar-->