                        <div class="col-sm-3  page-sidebar-right">
                            <aside>                                
                                <div class="panel sidebar-panel panel-contact-seller">
                                    <div class="panel-heading">Seguidores <span class="badge">{{ followers|length }}</span>
                                    </div>
                                    <div class="panel-content user-info">
                                        <div class="panel-body text-center">
                                            <ul class="list-unstyled list-user-list long-list-user">
                                               {% for myfollow in followers %}
                                                   {% if myfollow.avatar == null %}
                                                     <li><a><img alt="{{ myfollow.name }}" src="{{ asset('assets/images/user.jpg') }}" class="img-circle"></a></li>
                                                   {% else %}
                                                     <li><a><img alt="{{ myfollow.name }}" src="{{ asset('bundles/uploads/users/') }}{{ myfollow.avatar }}" class="img-circle"></a></li> 
                                                   {% endif %}   
                                               {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel sidebar-panel">
                                    <div class="panel-heading">Safety Tips for Buyers</div>
                                    <div class="panel-content">
                                        <div class="panel-body text-left">
                                            <ul class="list-check">
                                                <li> Meet seller at a public place</li>
                                                <li> Check the item before you buy</li>
                                                <li> Pay only after collecting the item</li>
                                            </ul>
                                            <p><a class="pull-right" href="#"> Know more <i
                                                    class="fa fa-angle-double-right"></i> </a></p>
                                        </div>
                                    </div>
                                </div>
                                <!--/.categories-list-->
                            </aside>
                        </div>
                        <!--/.page-side-bar-->